<div class="container" style="margin-top:30px">
  <form name="add task" [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="task">Task:</label>
      <input type="text" class="form-control" id="task" formControlName="task">
    </div>
    <div>
      <label for="priority">Priority:</label>      
      <select class="form-control" id="priority" formControlName="priority">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
      </select>
    </div>
    <div>
      <label for="parenttask">Parent Task:</label>
      <input type="text" class="form-control" id="parenttask" formControlName="parenttask">
    </div>
    <div>
      <label for="startdate">Start Date:</label>
      <input type="date" class="form-control" id="startdate" formControlName="startdate">
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6" style="left:0">
        <button type="submit" class="btn btn-primary btn-block" id="btn-add-task">Add Task</button>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-primary btn-block" id="btn-reset" (click)="reset()">Reset</button>
      </div>
    </div>
  </form>
</div>